@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
// --------------------------------
//-------- [ Start Components ] --------
// --------------------------------

@import "assets/scss/vars/vars";
@import "assets/scss/vars/light";
@import "assets/scss/vars/dark";
@import "assets/scss/components/inputs";

//-------- [ End Components ] --------

// --------------------------------
//-------- [ Start Fonts ] --------
// --------------------------------
@font-face {
    font-family: 'en';
    font-style: normal;
    src: url(assets/fonts/din-regular.ttf);
}
@font-face {
    font-family: 'num';
    font-style: normal;
    src: url(assets/fonts/AGENCYB.TTF);
}
  .font-en {
    font-family: 'en';
  }
  @font-face {
    font-family: 'ar';
    font-style: normal;
    src: url(assets/fonts/29ltbukraregular.ttf);
  }
//-------- [ End Fonts ] --------

// --------------------------------
//-------- [ Start Pages ] --------
// --------------------------------

@import "layout/layout";
@import "brands/brands";
@import "terms/terms";
@import "products/products";
@import "categories/category";
@import "cart/cart";
@import "register/register";
@import "user/user";


//-------- [ End Pages ] --------

// --------------------------------
//-------- [ Start Global ] --------
// --------------------------------

* {
    box-sizing: border-box;
}
body {
    font-family: 'ar';
    background-color: #FFF;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    direction: rtl;
    text-align: right;
}
.row {
    overflow: hidden;
}
.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}
// .container {
//     @media (min-width: 300px) {
//         max-width: 100%;
//     }
//     @media (min-width: 1440px) {
//         max-width: 1440px;
//     }
// }
.row-inside-row {
    margin-right: -8px;
    margin-left: -8px;
}
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-6,
.col-md-3,
.col-md-4,
.col-md-8,
.col-md-9,
.col-sm-4,
.col-sm-6 {
    padding-right: 8px;
    padding-left: 8px;
}
a {
    display: block;
    text-decoration: none;
    color: unset;
    &:hover {
        color: unset;
        text-decoration: unset;
    }
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
        font-size: 1.6rem;
        font-weight: 600;
        color: $mainColor;
        margin-bottom: 5px;
    }
    p {
        color: #737373;
        font-size: 0.8rem;
        font-weight: 500;
    }
    a {
        display: block;
        text-decoration: none;
        color: $secondColor;
        font-size: 0.9rem;
        font-weight: 700;
        svg {
            fill: $mainColor;
            height: 22px;
            width: 22px;
        }
    }
}
.section-header-center {
    .section-header-info {
        text-align: center;
        h3 {
            font-size: 2.6rem;
            font-weight: 600;
            color: $mainColor;
            margin-bottom: 5px;
            text-align: center;
            span {
                font-family: 'Archivo';
                text-transform: uppercase;
            }
        }
        p {
            color: #737373;
            font-size: 0.8rem;
            font-weight: 500;
            text-align: center;
        }
    }
}

//-------- [ End Global ] --------

// --------------------------------
//-------- [ Start Index ] --------
// --------------------------------


//-------- [ End Index ] --------

// Home Swiper 
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

.swiper {
margin-left: auto;
margin-right: auto;
}


// Scroll Bar
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(45deg, #f2fffc, #edf3ff);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #181847 ; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #181847; 
}

// Nice Select
.nice-select {
    float: right;
    text-align: right !important;
    :after {
        left: 12px !important;
        right: unset !important;
    }
}
.nice-select:after {
    left: 12px !important;
    right: unset !important;
}
.nice-select .list {
    left: unset !important;
    right: 1px !important;
}
.nice-select .option {
    padding-left: 29px !important;
    padding-right: 18px !important;
}

// Index Sections
.categories {
    padding: 25px 0 25px 0;
    margin-top: 50px;
    .row {
        padding: 0 1px;
    }
    .col-lg-2,.col-md-3,.col-sm-6 {
        padding: 0;
    }
    .categories-container {
        margin-top: 25px;
        .category-card {
            padding: 15px 15px;
            position: relative;
            border: 1px solid #e2e2e2;
            height: 200px;
            margin-left: -1px;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: #fafafa;
                border-bottom: 1px solid $secondColor;
            }
            img {
                position: absolute;
                left: 23px;
                top: 20px;
                max-width: 100%;
            }
            h3 {
                font-size: 1.2rem;
                font-weight: 600;
                margin-top: 100px;
                position: absolute;
                bottom: 15px;
                right: 25px;
                width: 116px;
            }
        }
    }
}

.products-section {
    padding: 50px 0;
    .row {
        padding: 0 1px;
    }
    .col-lg-3,.col-md-6 {
        padding: 0;
    }
    .products-container {
        margin-top: 25px;
    }
}
.product-card {
    border: 1px solid #e2e2e2;
    margin-right: -1px;
    max-height: 547px;
    .product-actions-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 15px 5px 15px;
        height: 59px;
        .products-fav {
            svg {
                height: 22px;
                width: 22px;
                fill: $mainColor;
                cursor: pointer;
            }
        }
        .product-status {
            background-color: #f5f5f5;
            padding: 6px 13px;
            border-radius: 50px;
            span {
                font-size: 0.6rem;
                font-weight: 600;
                fill: $mainColor;
                margin-top: -1px;
                display: block;
                letter-spacing: 1px;
            }
        }
    }
    .product-image {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 100%;
            height: 150px;
            margin: auto;
        }
    }
    .product-info {
        padding: 20px 20px 10px 20px;
        .product-category {
            font-size: 0.7rem;
            font-weight: 600;
            margin-bottom: 5px;
            color: #595959;
        }
        h3 {
            font-size: 0.9rem;
            font-weight: 600;
            color: $mainColor;
            line-height: 25px;
            height: 50px;
        }
        .product-price {
            display: flex;
            align-items: center;
            font-family: "Archivo", sans-serif;
            .current {
                font-size: 1.5rem;
                font-weight: 600;
                span {
                    font-size: 1.25rem;
                }
            }
            .discount {
                color: #272727;
                margin-right: 10px;
                font-size: 0.8rem;
                font-weight: 500;
                position: relative;
                &:after {
                    content: "";
                    display: inline-block;
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0%, -50%);
                    background-color: #272727;
                }
                span {
                    font-size: 0.7rem;
                }
            }
        }
    }
    .add-to-card-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 25px;
        background-color: #F5F5F5;
        span {
            font-size: 0.8rem;
            font-weight: 600;
        }
        svg {
            height: 18px;
            width: 18px;
            fill: $mainColor;
        }
    }
    .offer {
        background-color: $secondColor !important;
        span {
            color: #FFF;
        }
    }
    .sold {
        background-color: #000 !important;
        span {
            color: #FFF;
        }
    }
}

.big-banner {
    position: relative;
    background: {
        size: cover;
        position: center center;
        repeat: no-repeat;
    };
    padding: 75px 0;
    min-height: 650px;
    .big-banner-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 52, 0.5607843137);
        z-index: 1;
    }
    .big-banner-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        width: 100%;
        .swiper-slide-info {
            position: relative;
            z-index: 2;
            text-align: center;
            .pretitle {
                color: #FFF;
                font-weight: 600;
            }
            .heading {
                color: #FFF;
                font-size: 4rem;
                font-weight: 700;
                width: 50%;
                text-align: center;
                margin: auto;
            }
            .product-price {
                display: flex;
                align-items: center;
                font-family: "Archivo", sans-serif;
                justify-content: center;
                margin: 25px 0;
                .current {
                    font-size: 2.75rem;
                    font-weight: 600;
                    color: #FFF;
                    span {
                        font-size: 2.5rem;
                    }
                }
                .discount {
                    color: #FFF;
                    margin-right: 10px;
                    font-size: 1.3rem;
                    font-weight: 500;
                    position: relative;
                    &:after {
                        content: "";
                        display: inline-block;
                        height: 1px;
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #FFF;
                    }
                    span {
                        font-size: 0.9rem;
                    }
                }
            }
            .swiper-slide-action {
                text-align: center;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    height: 50px;
                    width: 150px;
                    background: $secondColor;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #FFF;
                    font-weight: 700;
                    font-size: 0.9rem;
                }
            }
        }
    }
}

.partners {
    background-color: #f5f5f5;
    padding: 50px 0;
    position: relative;
    .row {
        padding: 0 1px;
    }
    .col-lg-2,.col-md-4, .col-sm-6 {
        padding: 0;
    }
    .brands-container {
        margin-top: 25px;
        .brand-card {
            padding: 35px 30px;
            text-align: center;
            border: 1px solid #e2e2e2;
            margin-right: -1px;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: #fafafa;
            }
            .img-container {
                height: 54px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img {
                max-width: 100%;
            }
            h3 {
                color: $mainColor;
                font-size: 1.3rem;
                font-weight: 600;
                margin-top: 35px;
                margin-bottom: 0;
                font-family: "Archivo", sans-serif;
                transition: all 0.2s ease-in-out;
            }
            p {
                color: $secondColor;
                font-size: 0.9rem;
                font-weight: 600;
                font-family: "Archivo", sans-serif;
                margin: 0;
                transition: all 0.2s ease-in-out;
                span {
                    font-family: "ar";
                }
            }
        }
    }
}

.offers {
    padding: 0px 0 50px 0;
    .row {
        margin-right: -23px;
        margin-left: -23px;
    }
    .offer-card {
        img {
            max-width: 100%;
        }
    }
}

.brands {
    background-color: #f5f5f5;
    padding: 50px 0;
    position: relative;
    .row {
        padding: 0 1px;
    }
    .col-lg-2,.col-md-4, .col-sm-6 {
        padding: 0;
    }
    .brands-container {
        margin-top: 25px;
        .brand-card {
            background-color: #FFF;
            padding: 35px 30px;
            text-align: center;
            border: 1px solid #e2e2e2;
            margin-right: -1px;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: #fafafa;
            }
            .img-container {
                height: 54px;
            }
            img {
                max-width: 100%;
                margin-bottom: 25px;
                height: 100%;
            }
            h3 {
                color: $mainColor;
                font-size: 1.3rem;
                font-weight: 600;
                margin-top: 35px;
                margin-bottom: 0;
                font-family: "Archivo", sans-serif;
                transition: all 0.2s ease-in-out;
            }
            p {
                color: $secondColor;
                font-size: 0.9rem;
                font-weight: 600;
                font-family: "Archivo", sans-serif;
                margin: 0;
                transition: all 0.2s ease-in-out;
                span {
                    font-family: "ar";
                }
            }
        }
    }
}

.products-section-boxed {
    padding: 50px 0 50px 0;
    .row {
        padding: 1px 1px;
    }
    .col-lg-3,.col-md-6 {
        padding: 0;
    }
    .products-container {
        margin-top: 25px;
        .product-card {
            border: 1px solid #e2e2e2;
            margin-right: -1px;
            margin-top: -1px;
            display: flex;
            align-items: center;
            .product-image {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-right: 15px;
                img {
                    max-width: 120px;
                    height: 120px;
                    margin: auto;
                }
            }
            .product-info {
                padding: 20px 15px 20px 20px;
                .product-category {
                    font-size: 0.7rem;
                    font-weight: 600;
                    margin-bottom: 1px;
                    color: #595959;
                }
                h3 {
                    font-size: 0.8rem;
                    font-weight: 600;
                    color: $mainColor;
                    line-height: 25px;
                    height: 50px;
                }
                .product-price {
                    display: flex;
                    align-items: center;
                    font-family: "Archivo", sans-serif;
                    .current {
                        font-size: 1.3rem;
                        font-weight: 600;
                        span {
                            font-size: 1.1rem;
                        }
                    }
                    .discount {
                        color: #272727;
                        margin-right: 10px;
                        font-size: 0.8rem;
                        font-weight: 500;
                        position: relative;
                        &:after {
                            content: "";
                            display: inline-block;
                            height: 1px;
                            width: 100%;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translate(0%, -50%);
                            background-color: #272727;
                        }
                        span {
                            font-size: 0.65rem;
                        }
                    }
                }
            }
            .add-to-card-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 25px;
                background-color: #F5F5F5;
                span {
                    font-size: 0.9rem;
                    font-weight: 600;
                }
                svg {
                    height: 18px;
                    width: 18px;
                    fill: $mainColor;
                }
            }
            .offer {
                background-color: $secondColor !important;
                span {
                    color: #FFF;
                }
            }
            .sold {
                background-color: #000 !important;
                span {
                    color: #FFF;
                }
            }
        }
    }
}