.cart-page {
    padding: 35px 0 50px 0;
    .checkout {
        h6 {
            margin-top: 8px;
            font-size: 1rem;
            font-weight: 700;
            text-align: right;
            color: $p;
            .highlighted {
                color: $secondColor;
                margin: 0 4px;
            }
        }
        .shop-cards {
            margin-top: 25px;
            .shop-card {
                border-radius: 0;
                background: #FFF;
                margin-bottom: -1px;
                border: 1px solid #e2e2e2;
                .dropdown-box-list-item {
                    display: block;
                    padding: 16px 28px;
                    text-align: right;
                    display: flex;
                    position: relative;
                    min-height: 100px;
                    align-items: center;
                    @media (max-width: $max-7) {
                        display: block;
                        height: auto;
                        text-align: center;
                        margin: auto;
                    }
                    .cart-item-preview {
                        padding-right: 120px;
                        padding-left: 15px;
                        padding-top: 3px;
                        position: relative;
                        @media (max-width: $max-7) {
                            padding-right: 0;
                            padding-left: 0;
                        }
                        .cart-item-preview-image {
                            position: absolute;
                            top: 2px;
                            right: 0;
                            @media (max-width: $max-7) {
                                position: unset;
                                top: 0;
                                left: 0;
                            }
                            img {
                                max-width: 100%;
                                height: 80px;
                                border-radius: 0;
                            }
                        }
                        .cart-item-preview-title {
                            font-size: .8rem;
                            font-weight: 700;
                            color: #000;
                            max-width: 200px;
                            @media (max-width: $max-7) {
                                margin: 8px auto 0 auto;
                            }
                        }
                        .cart-item-preview-text {
                            position: relative;
                            padding-right: 0;
                            font-size: 0.7rem;
                            font-weight: 600;
                            margin-bottom: 2px;
                            color: #595959;
                            @media (max-width: $max-7) {
                                padding: 0;
                            }
                        }
                        .cart-item-preview-price {
                            margin-top: 3px;
                            font-size: .85rem;
                            font-weight: 600;
                            color: #595959;
                            font-family: "Archivo", sans-serif;
                            .q {
                                margin: 0 3px;
                            }
                            .highlighted {
                                color: $secondColor;
                                margin: 0 3px;
                            }
                        }
                    }
                    .quantity-input {
                        display: flex;
                        align-items: center;
                        margin: auto;
                        @media (max-width: $max-7) {
                            justify-content: center;
                            margin-top: 15px;
                        }
                        .number {
                            display: inline-block;
                            font-size: 0;
                            background: #FFF;
                        }
                        
                        .number__field {
                            -moz-appearance:textfield;
                            display: inline-block;
                            vertical-align: top;
                            width: 38px;
                            height: 40px;
                            text-align: center;
                            font-family: "Archivo", sans-serif;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 26px;
                            background: #FFF;
                            border: 1px solid #e2e2e2;
                        }
                        
                        .number__btn {
                            display: inline-block;
                            vertical-align: top;
                            position: relative;
                            width: 38px;
                            height: 40px;
                            padding: 0;
                            border: none;
                            background: #FFF;
                            border: 1px solid #e2e2e2;
                        &:focus {
                            outline: none;
                        }
                        } 
                        
                        .number__btn--down::before {
                        content: '';
                            position: absolute; 
                            display: block;
                            left: 13px;
                            top: 18px;
                            height: 2px; 
                            width: 11px;
                            background: #000;
                        }

                        .number__btn--up {
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            margin-left: -1px;
                        }

                        .number__btn--down {
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            margin-right: -1px;
                        }

                        .number__btn--up::before {
                        content: '';
                            position: absolute; 
                            display: block;
                            left: 13px;
                            top: 18px;
                            height: 2px; 
                            width: 11px;
                            background: $mainColor;
                        }
                        
                        .number__btn--up::after {
                            content: '';
                            position: absolute; 
                            display: block;
                            left: 13px;
                            top: 18px;
                            height: 2px; 
                            width: 11px;
                            background: $mainColor;
                            transform: rotate(90deg);
                        }
                        
                        .number__field::-webkit-outer-spin-button,
                        .number__field::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                    .item-price {
                        margin: auto;
                        display: flex;
                        align-items: center;
                        font-family: "Archivo", sans-serif;
                        h6 {
                            font-weight: 600;
                            margin: 0;
                        }
                        @media (max-width: $max-7) {
                            justify-content: center;
                            margin-top: 10px;
                        }
                    }
                    .cart-item-preview-action {
                        cursor: pointer;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @media (max-width: $max-7) {
                            position: absolute;
                            top: 20px;
                            left: 20px;
                        }
                        svg {
                            opacity: .4;
                            transition: fill .2s ease-in-out,opacity .2s ease-in-out;
                            fill: #595959;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
        .sidebar-box {
            padding: 0 0 25px 0;
            border-radius: 0;
            background-color: #fff;
            margin-top: 25px;
            margin-bottom: 15px;
            border: 1px solid #e2e2e2;
            .sidebar-box-title {
                color: $mainColor;
                font-size: 0.9rem;
                font-weight: 700;
                text-align: right;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 25px;
                background: #f5f5f5;
                cursor: pointer;
                border-bottom: 1px solid #e2e2e2;
            }
            .sidebar-box-content {
                padding: 0 25px;
            }
            .price-title {
                font-size: 2.5rem;
                font-weight: 700;
                margin-top: 0;
                text-align: center;
                color: $mainColor;
                font-family: "Archivo", sans-serif;
                margin-top: 20px;
                margin-bottom: 20px;
                .currency {
                    color: $secondColor;
                    margin-left: 5px;
                }
            }
            .totals-line {
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;
                .totals-line-title {
                    font-size: .83rem;
                    font-weight: 600;
                    color: #595959;
                }
                .price-title-small {
                    font-size: 0.9rem;
                    font-weight: 700;
                    margin-top: 0;
                    text-align: center;
                    color: #3e3f5e;
                    font-family: "Archivo", sans-serif;
                    flex-shrink: 0;
                    text-align: center;
                    .currency {
                        color: $secondColor;
                        margin-left: 5px;
                    }
                }
            }
            .discount {
                padding: 5px 0 20px 0;
                .promo-line-actions {
                    display: flex;
                    form {
                        width: 100%;
                        position: relative;
                        display: flex;
                        align-items: space-between;
                        justify-content: center;
                        margin: auto;
                        .form-group {
                            position: relative;
                            margin: 0;
                            width: 100%;
                            @media (max-width: $max-7) {
                                margin: 25px 10px 0 0;
                            }
                            .form-control {
                                height: 45px;
                                padding: 0 18px;
                                background-color: #fff;
                                border: 1px solid #e2e2e2;
                                color: #3e3f5e;
                                transition: border-color .2s ease-in-out;
                                width: 100%;
                                border-radius: 0;
                                font-size: 0.9rem;
                                font-weight: 700;
                                &:focus {
                                    border-color: $secondColor;
                                    box-shadow: none;
                                    outline: none;
                                }
                            }
                        }
                        .create-account-btn {
                            text-decoration: none;
                            width: 100px;
                            margin: auto 0px auto 0;
                            color: #FFF;
                            display: inline-block;
                            height: 45px;
                            border-radius: 0;
                            font-size: .8rem;
                            font-weight: 700;
                            text-align: center;
                            line-height: 45px;
                            cursor: pointer;
                            transition: background-color .2s ease-in-out;
                            background-color: $secondColor;
                            border: 0;
                            @media (max-width: $max-7) {
                                margin: auto 15px 0 auto;
                            }
                            svg {
                                height: 18px;
                                margin-left: 4px;
                                path {
                                    fill: #FFF;
                                }
                            }
                            &:hover {
                                background-color: $mainColor;
                            }
                        }
                        p.text {
                            margin-top: 30px;
                            font-size: .875rem;
                            line-height: 1.7142857143em;
                            font-weight: 500;
                            color: #3e3f5e;
                            a {
                                text-decoration: none;
                                color: $link;
                                font-weight: 700;
                            }
                        }
                        .active-input {
                            label {
                                background: #FFF;
                                padding: 0 6px;
                                font-size: 0.7rem;
                                top: -6px;
                                right: 12px;
                            }
                        }
                    }
                }
            }
            .pay-btn {
                text-decoration: none;
                width: 100%;
                margin: auto;
                color: #FFF;
                display: inline-block;
                height: 45px;
                border-radius: 0;
                font-size: .75rem;
                font-weight: 700;
                text-align: center;
                line-height: 45px;
                cursor: pointer;
                margin-top: 15px;
                transition: background-color .2s ease-in-out;
                background-color: $mainColor;
                border: 0;
                margin-left: 10px;
                svg {
                    height: 18px;
                    margin-left: 4px;
                    path {
                        fill: #FFF;
                    }
                }
                &:hover {
                    background-color: $secondColor;
                }
            }
            .update-btn {
                text-decoration: none;
                width: 100%;
                margin: auto;
                color: #adafca;
                display: inline-block;
                height: 45px;
                border-radius: 0;
                font-size: .75rem;
                font-weight: 700;
                text-align: center;
                line-height: 45px;
                cursor: pointer;
                margin-top: 15px;
                transition: background-color .3s ease-in-out;
                background-color: #FFF;
                border: 1px solid #dedeea;
                svg {
                    height: 18px;
                    margin-left: 4px;
                    path {
                        fill: #FFF;
                    }
                }
                &:hover {
                    background-color: $mainColor;
                    color: #FFF;
                }
            }
        }
        .sidebar-box-actions {
            display: flex;
            align-items: center;
        }
    }
}
.checkout-page {
    padding: 35px 0 50px 0;
    .checkout {
        h6 {
            margin-top: 8px;
            font-size: 1rem;
            font-weight: 700;
            text-align: right;
            color: $p;
            margin-bottom: 35px;
            .highlighted {
                color: $secondColor;
                margin: 0 4px;
            }
        }
        .shop-cards {
            margin-bottom: 0;
            .shop-card {
                border-radius: 0;
                background: #FFF;
                margin-bottom: -1px;
                border: 1px solid #e2e2e2;
                .dropdown-box-list-item {
                    display: block;
                    padding: 16px 28px;
                    text-align: right;
                    display: flex;
                    position: relative;
                    min-height: 100px;
                    align-items: center;
                    @media (max-width: $max-7) {
                        display: block;
                        height: auto;
                        text-align: center;
                        margin: auto;
                    }
                    .cart-item-preview {
                        padding-right: 120px;
                        padding-left: 15px;
                        padding-top: 3px;
                        position: relative;
                        @media (max-width: $max-7) {
                            padding-right: 0;
                            padding-left: 0;
                        }
                        .cart-item-preview-image {
                            position: absolute;
                            top: 2px;
                            right: 0;
                            @media (max-width: $max-7) {
                                position: unset;
                                top: 0;
                                left: 0;
                            }
                            img {
                                max-width: 100%;
                                height: 80px;
                                border-radius: 0;
                            }
                        }
                        .cart-item-preview-title {
                            font-size: .75rem;
                            font-weight: 700;
                            color: #000;
                            max-width: 200px;
                            @media (max-width: $max-7) {
                                margin: 8px auto 0 auto;
                            }
                        }
                        .cart-item-preview-text {
                            position: relative;
                            padding-right: 0;
                            font-size: 0.65rem;
                            font-weight: 600;
                            margin-bottom: 2px;
                            color: #595959;
                            @media (max-width: $max-7) {
                                padding: 0;
                            }
                        }
                        .cart-item-preview-price {
                            margin-top: 3px;
                            font-size: .8rem;
                            font-weight: 600;
                            color: #595959;
                            font-family: "Archivo", sans-serif;
                            .q {
                                margin: 0 3px;
                            }
                            .highlighted {
                                color: $secondColor;
                                margin: 0 3px;
                            }
                        }
                    }
                    .quantity-input {
                        display: flex;
                        align-items: center;
                        margin: auto;
                        @media (max-width: $max-7) {
                            justify-content: center;
                            margin-top: 15px;
                        }
                        .number {
                            display: inline-block;
                            font-size: 0;
                            background: #FFF;
                        }
                        
                        .number__field {
                            -moz-appearance:textfield;
                            display: inline-block;
                            vertical-align: top;
                            width: 38px;
                            height: 40px;
                            text-align: center;
                            font-family: "Archivo", sans-serif;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 26px;
                            background: #FFF;
                            border: 1px solid #e2e2e2;
                        }
                        
                        .number__btn {
                            display: inline-block;
                            vertical-align: top;
                            position: relative;
                            width: 38px;
                            height: 40px;
                            padding: 0;
                            border: none;
                            background: #FFF;
                            border: 1px solid #e2e2e2;
                        &:focus {
                            outline: none;
                        }
                        } 
                        
                        .number__btn--down::before {
                        content: '';
                            position: absolute; 
                            display: block;
                            left: 13px;
                            top: 18px;
                            height: 2px; 
                            width: 11px;
                            background: #000;
                        }

                        .number__btn--up {
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            margin-left: -1px;
                        }

                        .number__btn--down {
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            margin-right: -1px;
                        }

                        .number__btn--up::before {
                        content: '';
                            position: absolute; 
                            display: block;
                            left: 13px;
                            top: 18px;
                            height: 2px; 
                            width: 11px;
                            background: $mainColor;
                        }
                        
                        .number__btn--up::after {
                            content: '';
                            position: absolute; 
                            display: block;
                            left: 13px;
                            top: 18px;
                            height: 2px; 
                            width: 11px;
                            background: $mainColor;
                            transform: rotate(90deg);
                        }
                        
                        .number__field::-webkit-outer-spin-button,
                        .number__field::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                    .item-price {
                        margin: auto;
                        display: flex;
                        align-items: center;
                        font-family: "Archivo", sans-serif;
                        h6 {
                            font-weight: 600;
                            margin: 0;
                        }
                        @media (max-width: $max-7) {
                            justify-content: center;
                            margin-top: 10px;
                        }
                    }
                    .cart-item-preview-action {
                        cursor: pointer;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @media (max-width: $max-7) {
                            position: absolute;
                            top: 20px;
                            left: 20px;
                        }
                        svg {
                            opacity: .4;
                            transition: fill .2s ease-in-out,opacity .2s ease-in-out;
                            fill: #595959;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
        .sidebar-box {
            padding: 0 0 0 0;
            border-radius: 0;
            background-color: #fff;
            margin-top: 12px;
            margin-bottom: 15px;
            border: 1px solid #e2e2e2;
            .sidebar-box-title {
                color: $mainColor;
                font-size: 0.9rem;
                font-weight: 700;
                text-align: right;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 25px;
                background: #f5f5f5;
                cursor: pointer;
                border-bottom: 1px solid #e2e2e2;
            }
            .sidebar-box-content {
                padding: 0 25px;
            }
            .price-title {
                font-size: 2.5rem;
                font-weight: 700;
                margin-top: 0;
                text-align: center;
                color: $mainColor;
                font-family: "Archivo", sans-serif;
                margin-top: 20px;
                margin-bottom: 20px;
                .currency {
                    color: $secondColor;
                    margin-left: 5px;
                }
            }
            .discount {
                padding: 5px 0 20px 0;
                .promo-line-actions {
                    display: flex;
                    form {
                        width: 100%;
                        position: relative;
                        display: flex;
                        align-items: space-between;
                        justify-content: center;
                        margin: auto;
                        .form-group {
                            position: relative;
                            margin: 0;
                            width: 100%;
                            @media (max-width: $max-7) {
                                margin: 25px 10px 0 0;
                            }
                            .form-control {
                                height: 45px;
                                padding: 0 18px;
                                background-color: #fff;
                                border: 1px solid #e2e2e2;
                                color: #3e3f5e;
                                transition: border-color .2s ease-in-out;
                                width: 100%;
                                border-radius: 0;
                                font-size: 0.9rem;
                                font-weight: 700;
                                &:focus {
                                    border-color: $secondColor;
                                    box-shadow: none;
                                    outline: none;
                                }
                            }
                        }
                        .create-account-btn {
                            text-decoration: none;
                            width: 100px;
                            margin: auto 0px auto 0;
                            color: #FFF;
                            display: inline-block;
                            height: 45px;
                            border-radius: 0;
                            font-size: .8rem;
                            font-weight: 700;
                            text-align: center;
                            line-height: 45px;
                            cursor: pointer;
                            transition: background-color .2s ease-in-out;
                            background-color: $secondColor;
                            border: 0;
                            @media (max-width: $max-7) {
                                margin: auto 15px 0 auto;
                            }
                            svg {
                                height: 18px;
                                margin-left: 4px;
                                path {
                                    fill: #FFF;
                                }
                            }
                            &:hover {
                                background-color: $mainColor;
                            }
                        }
                        p.text {
                            margin-top: 30px;
                            font-size: .875rem;
                            line-height: 1.7142857143em;
                            font-weight: 500;
                            color: #3e3f5e;
                            a {
                                text-decoration: none;
                                color: $link;
                                font-weight: 700;
                            }
                        }
                        .active-input {
                            label {
                                background: #FFF;
                                padding: 0 6px;
                                font-size: 0.7rem;
                                top: -6px;
                                right: 12px;
                            }
                        }
                    }
                }
            }
            .totals-line {
                margin: 20px 0;
                display: flex;
                justify-content: space-between;
                .totals-line-title {
                    font-size: .83rem;
                    font-weight: 600;
                    color: #595959;
                }
                .price-title-small {
                    font-size: 0.9rem;
                    font-weight: 700;
                    margin-top: 0;
                    text-align: center;
                    color: #3e3f5e;
                    font-family: "Archivo", sans-serif;
                    flex-shrink: 0;
                    text-align: center;
                    .currency {
                        color: $secondColor;
                        margin-left: 5px;
                    }
                }
            }
            .totals-line-bold {
                margin: 20px 0;
                display: flex;
                justify-content: space-between;
                border-top: 1px solid #e2e2e2;
                padding-top: 20px;
                .totals-line-title {
                    font-size: 1.1rem;
                    font-weight: 700;
                    color: #595959;
                    margin: 0;
                }
                .price-title-small {
                    font-size: 1.5rem;
                    font-weight: 700;
                    margin-top: 0;
                    text-align: center;
                    color: #3e3f5e;
                    font-family: "Archivo", sans-serif;
                    flex-shrink: 0;
                    text-align: center;
                    .currency {
                        color: $secondColor;
                        margin-left: 5px;
                    }
                }
            }
            .pay-btn {
                text-decoration: none;
                width: 100%;
                margin: auto;
                color: #FFF;
                display: inline-block;
                height: 45px;
                border-radius: 0;
                font-size: .75rem;
                font-weight: 700;
                text-align: center;
                line-height: 45px;
                cursor: pointer;
                margin-top: 15px;
                transition: background-color .2s ease-in-out;
                background-color: $mainColor;
                border: 0;
                margin-left: 10px;
                svg {
                    height: 18px;
                    margin-left: 4px;
                    path {
                        fill: #FFF;
                    }
                }
                &:hover {
                    background-color: $secondColor;
                }
            }
            .update-btn {
                text-decoration: none;
                width: 100%;
                margin: auto;
                color: #adafca;
                display: inline-block;
                height: 45px;
                border-radius: 0;
                font-size: .75rem;
                font-weight: 700;
                text-align: center;
                line-height: 45px;
                cursor: pointer;
                margin-top: 15px;
                transition: background-color .3s ease-in-out;
                background-color: #FFF;
                border: 1px solid #dedeea;
                svg {
                    height: 18px;
                    margin-left: 4px;
                    path {
                        fill: #FFF;
                    }
                }
                &:hover {
                    background-color: $mainColor;
                    color: #FFF;
                }
            }
        }
    }
    .billing-info {
        .bill-box {
            border: 1px solid #e2e2e2;
            margin-bottom: 12px;
            .bill-box-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px 20px;
                background: #f5f5f5;
                cursor: pointer;
                border-bottom: 1px solid #e2e2e2;
                h3 {
                    font-size: 0.75rem;
                    font-weight: 600;
                    margin: 0;
                }
                a {
                    display: block;
                    text-decoration: none;
                    color: $secondColor;
                    font-size: 0.65rem;
                    font-weight: 700;
                    svg {
                        fill: $mainColor;
                        height: 18px;
                        width: 18px;
                    }
                }
            }
            .bill-box-container {
                padding: 15px 20px;
                .saved-cards {
                    .saved-card {
                        display: flex;
                        align-items: center;
                        background: #f5f5f5;
                        padding: 10px 15px;
                        border: 1px solid #e2e2e2;
                        height: 51px;
                        img {
                            width: 28px;
                            margin-right: 10px;
                        }
                        h3 {
                            font-size: 0.65rem;
                            font-weight: 700;
                            margin: 0;
                            color: #595959;
                            margin-right: 10px;
                            span {
                                display: block;
                                font-size: 0.8rem;
                                color: #000;
                            }
                        }
                    }
                }
                .add-new {
                    padding: 15px 0 0 0;
                    .form-group {
                        .form-control {
                            border-radius: 0;
                            border: 1px solid #e2e2e2;
                            padding: 10px 20px;
                            color: $mainColor;
                            font-size: 0.75rem;
                            font-weight: 700;
                            margin: 5px 0;
                            &::placeholder {
                                color: #737373;
                                font-weight: 600;
                                font-size: 0.75rem;
                            }
                        }
                    }
                }
            }
        }
        .pay-btn {
            text-decoration: none;
            width: 100%;
            margin: auto;
            color: #FFF;
            display: inline-block;
            height: 45px;
            border-radius: 0;
            font-size: .75rem;
            font-weight: 700;
            text-align: center;
            line-height: 45px;
            cursor: pointer;
            margin-top: 15px;
            transition: background-color .2s ease-in-out;
            background-color: $mainColor;
            border: 0;
            margin-left: 10px;
            svg {
                height: 18px;
                margin-left: 4px;
                path {
                    fill: #FFF;
                }
            }
            &:hover {
                background-color: $secondColor;
            }
        }
    }
}

.checkbox-wrapper-43 input {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-43 label {
    display: inline-block;
  }

  .checkbox-wrapper-43 .check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-43 .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-43 .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-43 .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  .checkbox-wrapper-43 .check:hover:before {
    opacity: 1;
  }
  .checkbox-wrapper-43 .check:hover svg {
    stroke: $secondColor;
  }
  .checkbox-wrapper-43 input:checked + .check svg {
    stroke: $secondColor;
  }
  .checkbox-wrapper-43 input:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  .checkbox-wrapper-43 input:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }


// Steps
.steps {
    color: white;
    direction: rtl;
}
.steps.steps-sm > ul > li .step-item {
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.steps.steps-sm > ul > li .step-item span {
    font-size: 1rem;
    font-family: 'Teko', sans-serif;
}
.steps.steps-sm > ul > li .step-item:after {
    font-size: 0.75rem;
}
@media (min-width: 992px) {
    .steps.steps-sm > ul > li .step-item:after {
        font-size: 1rem;
    }
}
.steps.steps-sm > ul > li.active .step-item:before {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='-10 0 48 30'><path fill='white' d='M24 4.685l-16.327 17.315-7.673-9.054.761-.648 6.95 8.203 15.561-16.501.728.685z'/></svg>");
}
.steps > ul {
    margin: 0;
    padding: 0;
}
.steps > ul > li {
    list-style-type: none;
    position: relative;
    text-align: center;
    color: #f5f5f5;
    margin: 0px 0 75px 0;
}
.steps > ul > li:first-child:before {
    display: none;
}
.steps > ul > li:before {
    background-color: rgba(37, 37, 37, 0.1);
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    top: 50%;
    left: 50%;
    z-index: 0;
}
.steps > ul > li .step-item {
    font-size: 1rem;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    position: relative;
    z-index: 9;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: $mainColor;
    border: 1px solid transparent;
}
.steps > ul > li .step-item span {
    font-family: "Inter", sans-serif;
    display: block;
    color: #fff;
}
.steps > ul > li .step-item:before {
    display: none;
    content: "\e87f";
    font-size: 1.2rem;
}
.steps > ul > li .step-item:after {
    content: attr(data-text);
    position: absolute;
    display: inline-block;
    top: 100%;
    text-align: center;
    width: initial;
    left: 50%;
    white-space: nowrap;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 1rem;
    line-height: initial;
    color: #565e6d;
    font-weight: 600;
    font-size: 0.8rem !important;
}
.steps > ul > li.active {
    color: $mainColor;
}
.steps > ul > li.active:before {
    background-color: $secondColor;
}
.steps > ul > li.active .step-item {
    background-color: $secondColor;
    border-color: $secondColor;
    color: #fff;
}
.steps > ul > li.active .step-item span {
    display: none;
}
.steps > ul > li.active .step-item:before {
    content: "🗸";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.steps > ul > li.current:before {
    background-color: $secondColor;
}
.steps > ul > li.current .step-item {
    background-color: $secondColor;
    color: white;
}
.steps > ul > li.current .step-item:after {
    color: $secondColor;
}




// Success Order
.success-job {
    padding: 75px 0 75px 0;
	font-size: 24px;
// Sample container
.main-container {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

// Main CSS
.check-container {
	width: 6.25rem;
	height: 7.5rem;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;

	.check-background {
		width: 100%;
		height: calc(100% - 1.25rem);
		background: linear-gradient(to bottom right, #5de593, #41d67c);
		box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
		transform: scale(0.84);
		border-radius: 50%;
		animation: animateContainer 0.75s ease-out forwards 0.75s;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;

		svg {
			width: 65%;
			transform: translateY(0.25rem);
			stroke-dasharray: 80;
			stroke-dashoffset: 80;
			animation: animateCheck 0.35s forwards 1.25s ease-out;
		}
	}

	.check-shadow {
		bottom: calc(-15% - 5px);
		left: 0;
		border-radius: 50%;
		background: radial-gradient(closest-side, rgba(73, 218, 131, 1), transparent);
		animation: animateShadow 0.75s ease-out forwards 0.75s;
	}
}

@keyframes animateContainer {
	0% {
		opacity: 0;
		transform: scale(0);
		box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
	}
	25% {
		opacity: 1;
		transform: scale(0.9);
		box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
	}
	43.75% {
		transform: scale(1.15);
		box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
	}
	62.5% {
		transform: scale(1);
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
	}
	81.25% {
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
	}
	100% {
		opacity: 1;
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
	}
}

@keyframes animateCheck {
	from {
		stroke-dashoffset: 80;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes animateShadow {
	0% {
		opacity: 0;
		width: 100%;
		height: 15%;
	}
	25% {
		opacity: 0.25;
	}
	43.75% {
		width: 40%;
		height: 7%;
		opacity: 0.35;
	}
	100% {
		width: 85%;
		height: 15%;
		opacity: 0.25;
	}
}

h3 {
    text-align: center;
}
p {
    text-align: center;
    width: 60%;
    margin: auto;
    color: #737373;
    font-size: 0.8rem;
    font-weight: 600;
    @media (max-width: $max-7) {
        width: 100%;
    }
}
.back-home {
    border: unset;
    background: $mainColor;
    color: #FFF;
    padding: 12px 35px 12px 35px;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 25px 0 0 0;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
    display: table;
    text-align: center;
    margin: 25px auto;
}
}