// Header Style
.page-header {
    height: 40vh !important;
    margin: 0 !important;
    @media (max-width: $max-5) {
        height: 30vh !important;
    }
}
.header {
    position: relative;
    z-index: 15;
    background: transparent;
    width: 100%;
    transition: all 0.1s ease-in-out;
    background-image: linear-gradient(180deg, #060620 0%, #06062000 100%);
    .upper-bar {
        background: $mainColor;
        padding: 7px 25px;
        // border-bottom: 1px solid #e1e1e1;
        @media (max-width: $max-5) {
            padding: 10px 0;
        }
        .upper-bar-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .upper-bar-starts {
                display: flex;
                align-items: center;
                .call-center-num {
                    margin-right: 20px;
                }
            }
            .call-center-num {
                display: flex;
                align-items: center;
                svg {
                    height: 16px;
                    width: 16px;
                    fill: #FFF;
                    margin-left: 7px;
                }
                a {
                    color: #FFF;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 0.7rem;
                    span {
                        font-size: 0.8rem;
                        letter-spacing: 1px;
                        margin-right: 3px;
                    }
                }
            }
        }
    }
    .navbar {
        background: #FFF;
        // border-bottom: 1px solid #e1e1e1;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e2e2e2;
        .nav-logo {
            .logo-header {
                a {
                    display: block;
                    img {
                        height: 30px;
                    }
                }
            }
        }
        .nav-links {
            @media (max-width: $max-9) {
                display: none;
            }
            ul {
                display: flex;
                align-items: center;
                margin: 0;
                .nav-link {
                    a {
                        text-decoration: none;
                        color: #000;
                        font-size: 0.8rem;
                        font-weight: 600;
                    }
                }
                .active-link {
                    a {
                        background:$secondColor;                     -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
        .nav-actions {
            display: flex;
            align-items: center;
            .nav-icons {
                ul {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    .nav-icon {
                        margin: 0 5px;
                        cursor: pointer;
                        background: #f5f5f5;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 35px;
                        width: 35px;
                        svg {
                            fill: #000;
                            height: 17px;
                        }
                    }
                }
            }
            .line-between {
                margin: 0 10px 0 7px;
                font-size: 2rem;
                height: 27px;
                width: 1px;
                background: #e1e1e1;
            }
            .img-avatar-bg {
                background: linear-gradient(to right, #0169f7 20%, #01e8cb);
                height: 40px;
                width: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: 36px;
                    width: 36px;
                    border-radius: 50%;
                    border: 2px solid #FFF;
                }
            }
            a {
                text-decoration: none;
                display: block;
                .register {
                    svg {
                        fill: #000;
                        height: 17px;
                    }
                    span {
                        color: #000;
                        font-size: 0.8rem;
                    }
                }
            }
            .register {
                background: #f5f5f5;
                padding: 4px 17px 7px 17px;
                border-radius: 50px;
                margin-right: 10px;
                span {
                    font-weight: 700;
                    font-size: 0.7rem !important;
                    color: $mainColor !important;
                }
            }
            .add-car-btn {
                background: $mainColor;
                svg {
                    fill: #FFF !important;
                }
                span {
                    color: #FFF !important;
                }
            }
        }
    }
}
.fixed-header {
    &:after {
        display: none;
    }
}
.big-nav {
    width: 350px;
    padding-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    box-shadow: 0 0 40px 0 rgba(94,92,154,.06);
    background: #FFF;
    height: 100vh;
    transition: all .4s ease-in-out;
    transition-delay: .1s;
    overflow: auto;
    direction: rtl;
    @media (max-width: $max-5) {
        width: 100%;
        height: 100vh;
    }
    .big-nav-header-title {
        display: flex;
        justify-content: space-between;
        padding: 15px 20px 15px 20px;
        border-bottom: 1px solid #ebebeb;
        align-items: center;
        background: #FFF;
        .nav-logo-container {
            a {
                text-decoration: none;
                color: #000;
                img {
                    height: 40px;
                    @media (max-width: $max-5) {
                        height: 40px;
                    }
                }
            }
        }
        .close-big-nav {
            svg {
                fill: #000;
                width: 30px;
                cursor: pointer;
            }
        }
        .close-link-popup {
            svg {
                fill: #000;
            }
        }
    }
    .big-nav-search {
        .nav-search {
            width: 100%;
            padding: 10px 10px;
            display: flex;
            form {
                width: 100%;
            }
            .form-group {
                width: 100%;
                position: relative;
                margin: 0;
                .form-control {
                    height: 43px;
                    padding: 0 40px 0 20px;
                    background-color: #ffffff;
                    border: 1px solid #ebebeb;
                    color: #3e3f5e;
                    transition: border-color .2s ease-in-out;
                    width: 100%;
                    border-radius: 4px;
                    font-size: 0.85rem;
                    font-weight: 500;
                    &:focus {
                        border-color: $mainColor;
                        box-shadow: none;
                        outline: none;
                    }
                    &::placeholder {
                        color: #cacaca;
                        font-weight: 500;
                        font-size: 0.7rem;
                    }
                }
                .search-icon {
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translate(0%, -50%);
                    svg {
                        transform: rotateY(180deg);
                        font-size: 0.7rem;
                        height: 18px;
                        width: 18px;
                    }
                }
            }
        }
    }
    .nav-links {
        width: 100%;
        height: 100%;
        position: relative;
        ul {
            @media (max-width: $max-7) {
                overflow: scroll;
                height: calc(100vh - 55px);
            }
            .ul-head {
                padding-right: 30px;
                color: #adafca;
                font-size: .75rem;
                font-weight: 500;
            }
            li {
                text-decoration: none;
                color: #adafca;
                width: 100%;
                display: block;
                font-weight: 500;
                transition: all 0.3s ease-in-out;
                border-top: 1px solid #e5e5e58a;
                .li-link {
                    width: 100%;
                    transition: all 0.3s ease-in-out;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .link-info {
                        white-space: nowrap;
                        border-radius: 50px;
                        margin: 0;
                        transition: all 0.3s ease-in-out 0s;
                        display: inline-flex;
                        padding: 0 20px 0 0;
                        a {
                            text-decoration: none;
                            color: #000;
                            font-size: 0.9rem;
                            line-height: 25px;
                            font-weight: 500;
                            transition: all 0.3s ease-in-out 0s;
                            padding: 17px 0 17px 15px;
                        }
                    }
                    .li-link-icon {
                        width: 50px;
                        display: flex;
                        justify-content: end;
                        cursor: pointer;
                        padding: 17px 15px 17px 15px;
                        svg {
                            height: 16px;
                            width: 16px;
                            fill: #000;
                        }
                    }
                }
                .nav-link-popup {
                    width: 350px;
                    padding-top: 0;
                    position: fixed;
                    top: 0;
                    z-index: 20;
                    box-shadow: 0 0 40px 0 rgba(94,92,154,.06);
                    background: #FFF;
                    height: 100vh;
                    transition: all .4s ease-in-out;
                    transition-delay: .1s;
                    overflow: auto;
                    @media (max-width: $max-5) {
                        width: 100%;
                        height: 100vh;
                    }
                }
            }
            .li-active {
                background-color: #FFF;
                color: #000;
                a {
                    svg {
                        fill: $mainColor;
                        g [fill]{
                            fill: $mainColor;
                        }
                    }
                    .svg-icon {
                        path {
                            fill:  $mainColor;
                            stroke: $mainColor;
                        }
                    }
                    .link-info {
                        visibility: visible;
                        padding-right: 8px;
                        span {
                            color:  $mainColor !important;
                            &:hover {
                                color: $mainColor;
                            }
                        }
                    }
                }
                &:hover {
                    background: #FFF;
                    color: $mainColor;
                }
            }
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
}
.big-nav-hiddin {
    transform: translate(560px, 0);
    opacity: 0;
    z-index: -1 !important;
}
.close-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(22, 22, 34, 0.6);
    z-index: 10;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.open-over {
    opacity: 1;
    visibility: visible;
}
.active-dropdown {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}

.home-header {
    position: relative;
    height: 500px;
    width: 100%;
    background: #161b28;
    background: {
        position: center center;
        size: cover;
    }
    @media (max-width: $max-9) {
        height: 325px;
    }
    .header-overlay {
        height: 100%;
        width: 100%;

    }
    .header-content {
        text-align: center;
        color: #FFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 85%;
        @media (max-width: $max-9) {
            width: 85%;
        }
        figure {
            background: {
                size: cover;
                position: center center;
                repeat: no-repeat;
            }
            height: 85px;
            width: 85px;
            text-align: center;
            margin: 0 auto 25px auto;
            @media (max-width: $max-9) {
                margin: 0 auto 15px auto;
                height: 50px;
                width: 50px;
            }
        }
        h1 {
            text-transform: uppercase;
            font-size: 3.5rem;
            @media (max-width: $max-9) {
                font-size: 3.1rem;
            }
            @media (max-width: $max-7) {
                font-size: 2.7rem;
            }
            @media (max-width: $max-5) {
                font-size: 2.4rem;
            }
        }
    }
}
.home-header {
    height: calc(100vh - 108px);
    overflow: hidden;
    @media (max-width: $max-7) {
        height: 75vh;
    }
    .header-overlay {
        background: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .swiper-container {
        height: 100%;
        position: relative;
        .swiper-wrapper {
            .swiper-slide {
                background: {
                    size: cover;
                    position: center center;
                    repeat: no-repeat;
                }
                .swiper-slider-content {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    vertical-align: middle;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    // background: rgba(0, 0, 0, 0.5);
                    // background: linear-gradient(to right, rgba(0, 0, 0, 0.26), rgba(0, 85, 103, 0));

                    .swiper-overlay {
                        background-image: linear-gradient(to right top, #5f4c1b, #5b412b, #0a0807, #9b7d31, #9b7d31);
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0.6;
                    }
                    .swiper-slider-content-inner {
                        position: relative;
                        z-index: 5;
                    }
                    .pretitle {
                        text-align: center;
                        font-size: 1.6rem;
                        color: #fcdb5a;
                        word-spacing: 15px;
                        margin-bottom: -15px;
                    }
                    h1 {
                        color: #FFF;
                        font-size: 2.8rem;
                        font-weight: 900;
                        text-align: center;
                        width: 100%;
                        margin: 0 auto 15px auto;
                        @media (max-width: $max-7) {
                            font-size: 1.75rem;
                            margin: 0 auto 5px auto;
                        }
                    }
                    p {
                        color: #FFF;
                        font-size: 1.2rem;
                        font-weight: 200;
                        width: 75%;
                        text-align: center;
                        margin: auto;
                        @media (max-width: $max-9) {
                            width: 80%;
                            font-size: 1.2rem;
                        }
                        @media (max-width: $max-7) {
                            width: 85%;
                            font-size: 1.1rem;
                        }
                        @media (max-width: $max-5) {
                            width: 95%;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}
.home-btn {
    background-color: #fcdb5a;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 175px;
    margin-top: 25px;
    padding: 15px 25px;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 700;
}
.swiper-pagination-bullet-active {
    background: #fcdb5a;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.content {
    margin-top: 0;
}
.newsletter {
    background: #FAF9F7;
    padding: 75px 0;
    .newsletter-content {
        .news-line {
            .pretitle {
                font-size: 1.1rem;
                font-weight: 700;
                color: $secondColor;
                @media(max-width: $max-5) {
                    font-size: 1rem;
                    text-align: center;
                }
            }
            h3 {
                font-size: 3.5rem;
                font-weight: 500;
                @media(max-width: $max-12) {
                    font-size: 2.5rem;
                }
                @media(max-width: $max-5) {
                    font-size: 1.75rem;
                    text-align: center;
                }
            }
        }
        .news-child-line {
            .form-group {
                .form-control {
                    padding: 15px 5px 15px 15px;
                    font-size: 17px;
                    line-height: 22px;
                    width: calc(100% - 75px);
                    margin-right: auto;
                    height: 55px;
                    border: unset;
                    border-bottom: 1px solid #0a0a0a;
                    border-radius: unset;
                    background: unset;
                    font-family: "en";
                    &::placeholder {
                        font-size: 1rem;
                        color: #918d89;
                        font-family: 'sf';
                    }
                    @media(max-width: $max-12) {
                        width: calc(100% - 25px);
                    }
                    @media(max-width: $max-7) {
                        width: calc(90%);
                        margin: 15px auto;
                    }
                }
            }
            button {
                outline: none;
                width: 150px;
                background: unset;
                border: unset;
                font-size: 1.3rem;
                font-weight: 500;
                margin-top: 35px;
                &:focus, &:active {
                    border: unset;
                    box-shadow: unset;
                    outline: none;
                }
                svg {
                    height: 20px;
                    width: 20px;
                    margin-right: 5px;
                    transform: rotate(180deg);
                }
                @media(max-width: $max-7) {
                    margin: 15px auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

.d-12-none {
    display: block !important;
    @media (max-width: $max-12) {
        display: none !important;
    }
}
.d-12-block {
    display: none !important;
    @media (max-width: $max-12) {
        display: block !important;
    }
}

// Index Header Main
.index-header {
    height: 95vh;
    background-color: #f5f5f5;
    position: relative;
    .header-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0 75px 0;
        @media (max-width: $max-5) {
            margin: 10px 0 75px 0;
        }
        p {
            width: 500px;
            margin: 0 0 0 0;
            color: #918D89;
        }
        svg {
            fill: $secondColor;
            height: 45px;
            width: 45px;
            border: 1px solid #d5d5d5;
            border-radius: 50%;
            padding: 7px;
            @media (max-width: $max-5) {
                display: none;
            }
        }
    }
    figure {
        background: {
            size: cover;
            repeat: no-repeat;
            position: center center;
        }
        height: 750px;
        width: 100%;
        @media (max-width: $max-12) {
            height: 650px;
        }
        @media (max-width: $max-9) {
            height: 550px;
        }
        @media (max-width: $max-7) {
            height: 450px;
        }
        @media (max-width: $max-5) {
            height: 350px;
        }
    }
    .index-header-content {
        position: relative;
        z-index: 15;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        height: 470px;
        text-align: center;
        .index-header-content-details {
            .pretitle {
                color: $secondColor;
                margin-bottom: 15px;
                display: block;
                font-size: 1.1rem;
                word-spacing: 2px;
                font-weight: 700;
                @media (max-width: $max-9) {
                    margin-bottom: 5px;
                }
            }
            h1 {
                color: $mainColor;
                font-size: 4rem;
                font-weight: 700;
                @media(max-width: $max-12) {
                    font-size: 2.5rem;
                }
                @media(max-width: $max-9) {
                    font-size: 2rem;
                }
                @media(max-width: $max-7) {
                    font-size: 1.5rem;
                }
                @media(max-width: $max-5) {
                    font-size: 1rem;
                }
            }
            .header-serach {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 50px 50px 75px 50px;
                .header-search-select {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    .form-group {
                        margin: 0 10px;
                        .form-control {
                            width: 100%;
                            background-color: unset !important;
                            border: unset;
                            border-bottom: 1px solid #000;
                            border-radius: 0;
                            font-weight: 700;
                            color: #000;
                            font-size: 0.8rem;
                            padding: 7px 5px 7px 20px;
                        }
                    }
                }
                .header-search-icon {
                    width: 80px;
                    display: flex;
                    justify-content: end;
                    .serach-icon {
                        height: 50px;
                        width: 50px;
                        background-color: $secondColor;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        svg {
                            height: 22px;
                            width: 22px;
                            fill: #FFF;
                        }
                    }
                }
            }
        }
        .hero-car {
            position: absolute;
            bottom: -140px;
            img {
                max-width: 100%;
            }
        }
        .mySwiper {
            .swiper-wrapper {
                .swiper-slide {
                    background: {
                        size: cover;
                        position: center center;
                        repeat: no-repeat;
                    }
                }
            }
        }
    }
    .header-overlay-text {
        margin-top: 40px;
        position: absolute;
        bottom: 225px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        text-align: center;
        h3 {
            background-color: transparent;
            -webkit-mask-image: linear-gradient(180deg, rgba(255, 255, 255, 0.4) -200%, rgba(255, 255, 255, 0) 100%);
            font-size: 9rem;
            font-weight: 700;
            font-family: "num";
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 2px;
            display: inline-block;
            transform: scaleY(1.2);
            transform-origin: 0 0;
        }
    }
    .header-slider {
        width: 100%;
        margin-top: -80px;
        .slider-card {
            max-height: 400px;
            background: $secondColor;
            .slider-card-info {
                padding: 50px 50px 50px 50px;
                text-align: center;
                position: relative;
                z-index: 2;
                h3 {
                    color: #FFF;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                a {
                    background: #FFF;
                    padding: 10px 25px;
                    border-radius: 50px;
                    display: inline-block;
                    font-size: 0.9rem;
                    font-weight: 700;
                }
            }
            .slider-card-image {
                overflow: hidden;
                figure {
                    height: 225px;
                    width: 100%;
                    background-position: 50% 0%;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-color: #f74239;
                }
            }
        }
    }
    .dis-md-none {
        @media (max-width: $max-9) {
            display: none !important;
        } 
    }
}
// Index Header Home 2
.index-header-home2 {
    height: 100%;
    background-color: #f5f5f5;
    position: relative;
    .header-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0 75px 0;
        @media (max-width: $max-5) {
            margin: 10px 0 75px 0;
        }
        p {
            width: 500px;
            margin: 0 0 0 0;
            color: #918D89;
        }
        svg {
            fill: $secondColor;
            height: 45px;
            width: 45px;
            border: 1px solid #d5d5d5;
            border-radius: 50%;
            padding: 7px;
            @media (max-width: $max-5) {
                display: none;
            }
        }
    }
    figure {
        background: {
            size: cover;
            repeat: no-repeat;
            position: center center;
        }
        height: 750px;
        width: 100%;
        @media (max-width: $max-12) {
            height: 650px;
        }
        @media (max-width: $max-9) {
            height: 550px;
        }
        @media (max-width: $max-7) {
            height: 450px;
        }
        @media (max-width: $max-5) {
            height: 350px;
        }
    }
    .index-header-content {
        position: relative;
        z-index: 15;
        display: flex;
        align-items: center;
        justify-content: start;
        vertical-align: middle;
        height: 600px;
        text-align: center;
        .index-header-content-details {
            .pretitle {
                color: $secondColor;
                margin-bottom: 15px;
                display: block;
                font-size: 1.1rem;
                word-spacing: 2px;
                font-weight: 700;
                @media (max-width: $max-9) {
                    margin-bottom: 5px;
                }
            }
            h1 {
                color: $mainColor;
                font-size: 4rem;
                font-weight: 700;
                @media(max-width: $max-12) {
                    font-size: 2.5rem;
                }
                @media(max-width: $max-9) {
                    font-size: 2rem;
                }
                @media(max-width: $max-7) {
                    font-size: 1.5rem;
                }
                @media(max-width: $max-5) {
                    font-size: 1rem;
                }
            }
            .header-serach {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 50px 50px 75px 50px;
                .header-search-select {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    .form-group {
                        margin: 0 10px;
                        .form-control {
                            width: 100%;
                            background-color: unset !important;
                            border: unset;
                            border-bottom: 1px solid #000;
                            border-radius: 0;
                            font-weight: 700;
                            color: #000;
                            font-size: 0.8rem;
                            padding: 7px 5px 7px 20px;
                        }
                    }
                }
                .header-search-icon {
                    width: 80px;
                    display: flex;
                    justify-content: end;
                    .serach-icon {
                        height: 50px;
                        width: 50px;
                        background-color: $secondColor;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        svg {
                            height: 22px;
                            width: 22px;
                            fill: #FFF;
                        }
                    }
                }
            }
        }
        .hero-car {
            position: absolute;
            bottom: -140px;
            img {
                max-width: 100%;
            }
        }
        .mySwiper {
            .swiper-wrapper {
                .swiper-content {
                    position: relative;
                    z-index: 5;
                }
                .swiper-slide {
                    background: {
                        size: cover;
                        position: center center;
                        repeat: no-repeat;
                    }
                    .swiper-overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height:100%;
                        width: 100%;
                        background-color: #0000348f;
                        z-index: 1;
                    }
                    .swiper-slide-info {
                        text-align: right;
                        position: relative;
                        z-index: 2;
                        .pretitle {
                            color: #FFF;
                            font-weight: 600;
                        }
                        .heading {
                            color: #FFF;
                            font-size: 5rem;
                            font-weight: 700;
                            width: 70%;
                        }
                        .product-price {
                            display: flex;
                            align-items: center;
                            font-family: "Archivo", sans-serif;
                            margin: 25px 0;
                            .current {
                                font-size: 2.75rem;
                                font-weight: 600;
                                color: #FFF;
                                span {
                                    font-size: 2.5rem;
                                }
                            }
                            .discount {
                                color: #FFF;
                                margin-right: 10px;
                                font-size: 1.3rem;
                                font-weight: 500;
                                position: relative;
                                &:after {
                                    content: "";
                                    display: inline-block;
                                    height: 1px;
                                    width: 100%;
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    transform: translate(0%, -50%);
                                    background-color: #FFF;
                                }
                                span {
                                    font-size: 0.9rem;
                                }
                            }
                        }
                        .swiper-slide-action {
                            a {
                                height: 50px;
                                width: 150px;
                                background: $secondColor;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #FFF;
                                font-weight: 700;
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
                .header-pro-img {
                    position: relative;
                    z-index: 4;
                    img {
                        width: 500px;
                        margin-right: auto;
                        text-align: left;
                    }
                }
            }
            .swiper-button-next, .swiper-button-prev {
                color: #FFF;
            }
            .swiper-button-next:after, .swiper-button-prev:after {
                font-size: 15px;
                margin: 0 15px;
            }
            .swiper-pagination-bullet {
                background-color:$secondColor;
                height: 6px;
                width: 15px;
                border-radius: 2px;
            }
            .swiper-pagination-bullet-active {
                background-color: #FFF;
            }
        }
    }
    .header-overlay-text {
        margin-top: 40px;
        position: absolute;
        bottom: 225px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        text-align: center;
        h3 {
            background-color: transparent;
            -webkit-mask-image: linear-gradient(180deg, rgba(255, 255, 255, 0.4) -200%, rgba(255, 255, 255, 0) 100%);
            font-size: 9rem;
            font-weight: 700;
            font-family: "num";
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 2px;
            display: inline-block;
            transform: scaleY(1.2);
            transform-origin: 0 0;
        }
    }
    .header-slider {
        width: 100%;
        margin-top: -80px;
        .slider-card {
            max-height: 400px;
            background: $secondColor;
            .slider-card-info {
                padding: 50px 50px 50px 50px;
                text-align: center;
                position: relative;
                z-index: 2;
                h3 {
                    color: #FFF;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                a {
                    background: #FFF;
                    padding: 10px 25px;
                    border-radius: 50px;
                    display: inline-block;
                    font-size: 0.9rem;
                    font-weight: 700;
                }
            }
            .slider-card-image {
                overflow: hidden;
                figure {
                    height: 225px;
                    width: 100%;
                    background-position: 50% 0%;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-color: #f74239;
                }
            }
        }
    }
    .dis-md-none {
        @media (max-width: $max-9) {
            display: none !important;
        } 
    }
    .header-search-container {
        padding: 50px 0;
    }
    .header-search-text {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
        h3 {
            font-size: 1.5rem;
            font-weight: 700;
        }
        p {
            color: #737373;
            font-size: 0.8rem;
            font-weight: 600;
        }
    }
    .header-serach {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-search-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .form-group {
                margin-right: -1px;
                .form-control {
                    width: 100%;
                    background-color: #FFF !important;
                    border: unset;
                    border: 1px solid #e2e2e2;
                    border-radius: 0;
                    font-weight: 700;
                    color: #000;
                    font-size: 0.75rem;
                    padding: 10px 11px 10px 20px;
                    height: 60px;
                }
            }
        }
        .header-search-icon {
            width: 180px;
            .serach-icon {
                height: 60px;
                background-color: #f74239;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    height: 22px;
                    width: 22px;
                    fill: #FFF;
                }
                span {
                    color: #FFF;
                    font-size: 0.9rem;
                    font-weight: 700;
                    margin-right: 10px;
                }
            }
        }
    }
}
// Index Header For ( All Pages )
.index-page-layout {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    &:after {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        background-color: rgba(0, 0, 52, 0.5607843137);
        transform: rotatex(180deg);
        z-index: 0;
        background-repeat: no-repeat;
        background-position: center center;
        height: 60vh;
        z-index: 1;
    }
    .index-header-content {
        position: relative;
        z-index: 15;
        display: flex;
        align-items: center;
        justify-content: start;
        vertical-align: middle;
        height: calc(60vh - 100px);
        text-align: right;
        .index-header-content-details {
            .pretitle {
                color: #ffffffc7;
                margin-bottom: 15px;
                display: block;
                font-size: 0.9rem;
                word-spacing: 2px;
                font-weight: 700;
                @media (max-width: $max-9) {
                    margin-bottom: 5px;
                }
            }
            h1 {
                color: #FFF;
                font-size: 4rem;
                font-weight: 700;
                @media(max-width: $max-12) {
                    font-size: 2.5rem;
                }
                @media(max-width: $max-9) {
                    font-size: 2rem;
                }
                @media(max-width: $max-7) {
                    font-size: 1.5rem;
                }
                @media(max-width: $max-5) {
                    font-size: 1rem;
                }
            }
        }
    }
}
// Footer For ( All Pages )
footer {
    background: $mainColor;
    direction: rtl;
    text-align: right;
    .footer-container {
        padding: 75px 0 0 0;
        background: {
            image: url(assets/images/footer-bg.png);
            repeat: no-repeat;
            position: right center;
        }
    }
    .upper-footer {
        border-bottom: 1px solid #fff3;
        padding-bottom: 50px;
        .upper-footer-part-right {
            padding-left: 100px;
            border-left: 1px solid #fff3;
            .upper-footer-info {
                img {
                    width: 175px;
                }
                p {
                    color: #fff6;
                    font-size: 0.9rem;
                    margin: 25px 0;
                }
            }
            form {
                .form-group {
                    margin-bottom: 50px;
                    .form-control {
                        background: transparent !important;
                        border-radius: 10px !important;
                        border: 1px solid rgba(255, 255, 255, 0.3);
                        position: relative;
                    }
                    button {
                        height: 50px;
                        width: 50px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        outline: unset;
                        border: unset;
                        box-shadow: unset;
                        background: transparent;
                        svg {
                            fill: #FFF;
                            height: 18px;
                            width: 18px;
                        }
                    }
                }
            }
            .footer-brands {
                margin: 0 25px;
                .footer-brand-img {
                    height: 20px;
                    height: auto;
                    img {
                        max-width: 100%;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                    }
                }
            }
        }
        .upper-footer-part-left {
            padding-right: 100px;
            .upper-footer-info {
                h3 {
                    color: #FFF;
                    font-size: 1.4rem;
                    font-weight: 500;
                    margin-bottom: 25px;
                }
                p {
                    color: #fff6;
                    font-size: 0.9rem;
                    margin: 25px 0;
                }
                a {
                    border: 1px solid #fff;
                    padding: 12px 35px 12px;
                    border-radius: 50px;
                    display: inline-block;
                    color: #FFF;
                    font-size: 0.8rem;
                    margin-bottom: 25px;
                    margin-top: 15px;
                }
            }
            .footer-nums {
                margin-top: 25px;
                .footer-brand-num {
                    h3 {
                        font-size: 1.2rem;
                        color: #FFF;
                    }
                    p {
                        color: #ffffffb3;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
    .down-footer {
        .down-footer-col {
            padding: 50px 0 50px 0;
            h3 {
                font-size: 1.2rem;
                font-weight: 600;
                color: #FFF;
                margin-bottom: 25px;
            }
            ul {
                padding: 0;
                li {
                    margin: 15px 0;
                    a {
                        text-decoration: none;
                        color: #FFF;
                        font-size: 0.8rem;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            color: $secondColor;
                        }
                    }
                }
            }
        }
    }
    .copyrights {
        padding: 25px 0;
        border-top: 1px solid #fff3;
        .copyrights-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .copy-info {
                p {
                    margin: 0;
                    color: #a3a3a3;
                    display: flex;
                    align-items: center;
                    font-size: 0.8rem;
                    a {
                        margin: 0 4px;
                        color: $secondColor;
                    }
                }
            }
            .terms-info {
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    color: #a3a3a3;
                    font-size: 0.8rem;
                }
                span {
                    background-color: #FFF;
                    height: 15px;
                    width: 1px;
                    margin: 0 10px;
                }
            }
        }
    }
}