.terms-page {
    padding: 75px 0;
    .terms-container {
        margin-top: 50px;
        .terms-line {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #e2e2e2;
            padding: 50px 0;
            h3 {
                width: 400px;
                font-size: 1.4rem;
                font-weight: 700;
            }
            .terms-line-info {
                flex: 1;
                font-size: 0.9rem;
                .terms-list-info {
                    margin-top: 25px;
                    .terms-list-info-line {
                        display: flex;
                        margin: 5px 0;
                        img {
                            margin-left: 20px;
                            margin-top: 5px;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                ul {
                    li {
                        margin: 20px 0;
                    }
                }
            }
        }

    }
    .contact-form {
        padding: 75px 0 0 0;
        .contact-form-container {
            margin-top: 25px;
            .form-group {
                margin-top: -1px;
                .form-control {
                    border-radius: 0;
                    border: 1px solid #e2e2e2;
                    padding: 30px 20px;
                    color: $mainColor;
                    font-size: 0.9rem;
                    font-weight: 700;
                    &::placeholder {
                        color: #737373;
                        font-weight: 600;
                        font-size: 0.75rem;
                    }
                }
                textarea {
                    min-height: 200px;
                    padding: 15px 20px;
                }
            }
            button {
                background: $secondColor;
                padding: 15px 30px;
                border-radius: 0;
                margin-right: 0;
                outline: none;
                border: unset;
                font-size: 0.9rem;
                font-weight: 600;
                color: #FFF;
                margin-top: 25px;
            }
        }
    }
}